/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

html, body {
  height: 100%;
  width: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  background: #fff; /*url(../img/arches.png) repeat;*/
  font-family: Cochin, Baskerville, serif;
}

.wrapper {
  height: 100%;
  width: 100%;
}

.arch {
  background-image: url(../img/bg.jpg);
  height: 100%;
}

.arch h1, nav {
  transition: opacity 2s ease 0.5s;
  -moz-transition: opacity 2s ease 0.5s;
  -webkit-transition: opacity 2s ease 0.5s;
  -o-transition: opacity 2s ease 0.5s;
  opacity: 0;
}

.arch h1 {
  font-family: Always In My Heart;
  font-weight: normal;
  color: #333;
  position: absolute;
  bottom: 0;
  margin: 0;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 5em;
  text-shadow: 1px 1px 1px rgba(255,255,255, 0.5);
}

.arch h1 span {
  color: #534059;
  font-size: 2.5em;
  display: inline-block;
  vertical-align: middle;
  width: 1em;
}

#hint {
  position: absolute;
  bottom: 0;
  right: 10%;
  background: #534059;
  color: #f9f9f9;
  width: 100px;
  height: 50px;
  text-align: center;
  padding: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: #666 0 0 5px;
  display: block;
  text-decoration: none;

  opacity: 0;

  transition: opacity 3s ease 3s;
  -moz-transition: opacity 3s ease 3s;
  -webkit-transition: opacity 3s ease 3s;
  -o-transition: opacity 3s ease 3s;
}

#met {
  background-image: url(../img/met.jpg);
  height: 100%;
}

.ring {
  background-image: url(../img/ring.jpg);
  height: 100%;
}

.hands {
  background-image: url(../img/hands.jpg);
  height: 100%;
}

section.text {
  background-color: #fff;
  position: relative;
  padding: 1em;
  box-shadow: #222 0 0 20px;
  z-index: 2;
}

section.text.purple {
  background-color: #534059;
  color: #fff;
}

section.text p {
  font-size: 1.25em;
  color: #444;
  text-align: justify;
  margin: 2em 0;
}

div.container {
  width: 700px;
  margin: 0 auto;
}

h2 {
  font-weight: normal;
  font-family: CACChampagneRegular, Cochin, Baskerville, serif;
  font-size: 5em;
  text-align: center;
  margin: 0.75em 0;
}

.frame {
  padding: 5px;
  background: #fff;
  border-radius: 3px;
  box-shadow: #333 0 0 3px inset;
  width: 100%;
  margin: 0 auto;
  display: block;
  margin-bottom: 1em;
}

h3 {
  font-size: 2em;
  margin: 1em 0;
  text-align: center;
}

section.hero {
  width: 100%;
  display: table;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

section.hero h2.fancy {
  color: #fff;
  margin: 0;
  text-shadow: 1px 1px 5px rgba(0,0,0, 0.75);
  font-size: 8em;
  z-index: 2;
}

section.hero h2.center {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  text-align: center;
}

section.hero h2 img.line {
  display: block;
  margin: 0 auto;
}

.big-day h3 {
  font-weight: normal;
  font-size: 2.5em;
  margin: 0.5em;
}

.big-day h4 {
  font-weight: normal;
  font-size: 1.5em;
  margin: 0.5em;
  color: #777;
  text-align: center;
}

img.logo {
  width: 400px;
  margin: 50px auto;
  display: block;
}

#coming-soon {
  z-index: -1;
}

#coming-soon p {
  font-size: 3em;
  text-align: center;
  margin: 1em 0;
  color: #fff;
  text-shadow: 0px -1px 1px rgba(0, 0, 0, 0.75);
}

#coming-soon p.script {
  font-family: CACChampagneRegular, Cochin, Baskerville, serif;
  font-size: 4em;
}

footer {
  background: #eee url(../img/low_contrast_linen.png) repeat;
  font-family: Gill Sans, Optima, sans-serif;
  color: #eee;
  padding: 2em 0;
  z-index: 2;
  box-shadow: #222 0 0 20px;
}

footer a, footer a:visited {
  color: #fff;
}

footer p.center {
  text-align: center;
  margin-bottom: 0;
  margin-top: 1em;
}

#license, #source {
  border: none;
  float: right;
}

.ipad {
  display: none;
}

/* Navigation */

nav {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px 0;
  margin: 0;
  text-align: center;
  z-index: 10;
  background-color: rgba(0,0,0,0.25);
}

nav a, nav a:visited {
  color: #f9f9f9;
  text-decoration: none;
  font-size: 22px;
  text-shadow: #333 0px 0px 5px;
  margin: 0 10px;
}

/* Fonts */

@font-face {
    font-family: 'CACChampagneRegular';
    src: url('../fonts/cac_champagne-webfont.eot');
    src: url('../fonts/cac_champagne-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cac_champagne-webfont.woff') format('woff'),
         url('../fonts/cac_champagne-webfont.ttf') format('truetype'),
         url('../fonts/cac_champagne-webfont.svg#CACChampagneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: Always In My Heart;
    src: url('../fonts/alwaysinmyheart.eot');
    src: url('../fonts/alwaysinmyheart.eot?#iefix') format('embedded-opentype'),
         url('../fonts/alwaysinmyheart.woff') format('woff'),
         url('../fonts/alwaysinmyheart.ttf') format('truetype'),
         url('../fonts/alwaysinmyheart.svg#CACChampagneRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-device-width : 1024px) {
  .ipad {
    display: block;
  }

  .desktop {
    display: none;
  }

  html, body {
    overflow: hidden;
  }

  .wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    overflow: auto;
  }

  img.map {
    width: 100%;
  }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
  body {
    font-size: 0.5em;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
